<section id="dashboard">

  <h1 class="dashboard-title">Welcome to British Columbia's Verified Organizations</h1>

  <div class="row">
    <div class="col-sm-12">

      <div class="text-center">
        <ul class="stats">
          <li class="stat"><span class="numbers">356,632</span> organizations</li>
          <li class="stat"><span class="numbers">1,497,854</span> permits and licences</li>
        </ul>
        <div class="large-search">
          <span class="fa fa-search"></span>
          <input type="text" name="query" size="40" placeholder="search" (input)="updateSearch($event)">
        </div>
      </div>

      <div class="results mrgn-tp-lg" *ngIf="results.length">
        <label class="control-label">Search Results</label>
        <div class="row" *ngFor="let record of results">
          <div class="col-sm-6">
            <a href="" [routerLink]="['/business', record.id]">{{record.LegalName}}</a><br>
            <small>{{record.type.theType}}</small>
          </div>
          <div class="col-sm-6">
            {{record.primaryLocation.municipality}}, {{record.primaryLocation.province}}
          </div>
        </div>
      </div>

      <div class="map mrgn-tp-lg">
        <label class="control-label">Search by Location</label>
        <div class="map-image"></div>
      </div>
    </div>
  </div>

</section>
