<section id="dashboard">

  <h1 class="dashboard-title text-center">Welcome to British Columbia's Verifiable Organizations</h1>

  <div class="row">
    <div class="col-sm-12">

      <div class="text-center">
        <ul class="stats">
          <li class="stat"><span class="numbers">356,632</span> organizations</li>
          <li class="stat"><span class="numbers">1,497,854</span> permits and licences</li>
        </ul>
        <div class="search-outer">
          <div class="large-search">
            <span class="fa fa-search" *ngIf="!loading"></span>
            <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
            <input type="text" id="searchInput" name="query" size="40" placeholder="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" (input)="inputEvent($event)" (focus)="inputEvent($event)" (blur)="inputEvent($event)">
          </div>
          <div class="btn-toolbar search-type">
            <div class="btn-group">
              <label [class]="'btn btn-default btn-radio' + (searchType=='name' ? ' active' : '')">
                <input type="radio" name="search_type" value="name" [checked]="searchType=='name'" (click)="setSearchType($event)"> &nbsp;Search by Name
              </label>
              <label [class]="'btn btn-default btn-radio' + (searchType=='location' ? ' active' : '')">
                <input type="radio" name="search_type" value="location" [checked]="searchType=='location'" (click)="setSearchType($event)"> &nbsp;Search by Location
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="results mrgn-tp-lg" *ngIf="results.length || none">
        <label class="control-label">Search Results</label>
        <div *ngIf="searchType=='name' && !none">
          <div class="row" *ngFor="let record of results">
            <div class="col-sm-6">
              <a href="" [routerLink]="['/business', record.id]">{{record.legalName}}</a><br>
              <small>{{record.type.description}}</small>
            </div>
            <div class="col-sm-6">
              {{record.primaryLocation.street}}<br>
              <small>{{record.primaryLocation.summary}}</small>
            </div>
          </div>
        </div>
        <div *ngIf="searchType=='location' && !none">
          <div class="row" *ngFor="let record of results">
            <div class="col-sm-6">
              <a href="" [routerLink]="['/business', record.verifiableOrgId]">{{record.addressee}}</a><br>
              <small>{{record.type.locType}}</small>
            </div>
            <div class="col-sm-6">
              {{record.streetAddress}}<br>
              <small>{{record.municipality}}, {{record.province}}</small>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="none">
          <div class="col-sm-6 text-muted">
            <em>No results</em>
          </div>
        </div>
      </div>

      <div class="row results-nav" *ngIf="more || less">
        <div class="col-sm-12 text-right">
          <ul class="pager">
            <li *ngIf="less">
              <a href="#" (click)="prev(); $event.preventDefault();">&lt;&lt; Previous</a>
            </li>
            <li *ngIf="more">
              <a href="#" (click)="next(); $event.preventDefault();">Next &gt;&gt;</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="map mrgn-tp-lg hidden">
        <label class="control-label">Search by Location</label>
        <div class="map-image"></div>
      </div>
    </div>
  </div>

</section>
