<section id="cert">
  <div class="row">
    <div class="col-md-8 col-sm-7">
      <h1 class="business-title">Sprockets & Widgets Inc.</h1>

      <a [routerLink]="'/business'" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> Back to Organization Info</a>

      <h2 class="cert-title">Restaurant Licence</h2>

      <div class="row">
        <div class="col-md-12 cert-info">
          <div class="row form-group">
            <label class="col-sm-4 control-label">Issuer</label>
            <div class="col-sm-8 form-field">
              Vernon Intergalactic Health Authority
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label">Issue Date</label>
            <div class="col-sm-8 form-field">
              Feb 29, 2017
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label">Expiry Date</label>
            <div class="col-sm-8 form-field">
              Feb 30, 2018
            </div>
          </div>
          <div class="row form-group mrgn-tp-lg">
            <div class="col-sm-4">
              <button class="btn btn-primary btn-verify"><span class="fa fa-accept"></span> Verify License</button>
            </div>
            <div class="col-sm-8">
              <a class="verify-help" href="#">What's this?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5 hidden-xs">
      <div class="cert-badge">
        <img src="/assets/cert.svg" class="color-green" alt="">
      </div>
    </div>
  </div>

  <!-- http://certificates-bootcamp.mit.edu/57b5085663e25800096f99b4 -->
  <div class="row cert-verify">
    <div class="col-sm-12">
      <div class="verify-line"><span class="verify-pfx">Verify certificate:</span> Verified</div>
      <div class="verify-line">Computing SHA256 digest of local certificate [DONE 1/5]</div>
      <div class="verify-line">Fetching hash in OP_RETURN field [DONE 2/5]</div>
      <div class="verify-line">Comparing local and blockchain hashes [PASS 3/5]</div>
      <div class="verify-line">Checking Verified Organzation signature [PASS 4/5]</div>
      <div class="verify-line">Checking not revoked by issuer [PASS 5/5]</div>
      <div class="verify-line"><span class="verify-pfx">Success!</span> The certificate has been verified.</div>
      <div class="verify-line"><span class="verify-pfx">Public Key:</span> 1GuqT4EpnhmA6GQvA3Fz5JWPjcZyXSQpFw</div>
    </div>
  </div>
</section>
