.title {
  letter-spacing: 0.05em;
}

.page-header {
  margin-bottom: 0;
  .breadcrumb {
    margin-bottom: 0;
  }
}

.btn-group > .btn, .btn-default {
  // why is this necessary??
  margin-right: 0;
}

.alert {
  h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
  }
}

header .navbar-nav {
  float: right;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 5px;
  > li > a {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    padding: 10px 10px 8px;
    text-decoration: none;
    &:hover, &:focus, &:active {
      background: initial;
      border-color: #fff;
      text-decoration: underline;
    }
  }
}


a.body-link, breadcrumb a {
  border-bottom: 1px solid rgba(#1a5a96, 0.8);
  margin-bottom: -1px;
  text-decoration: none;
  &:hover, &:focus {
    border-bottom-color: #0f3355;
    text-decoration: none;
  }
}
