a.body-link, breadcrumb a {
  border-bottom: 1px solid rgba($link-color, 0.8);
  margin-bottom: -1px;
  text-decoration: none;
  @include hover-focus {
    border-bottom-color: $link-hover-color;
    text-decoration: none;
  }
}
