@import "../common";

.navbar-brand {
  font-size: 26px;
  letter-spacing: 0.05em;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.navbar-collapse:not(.show) {
  justify-content: flex-end;

  .nav-item {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 10px 8px;
    @include hover-focus {
      background: initial;
      border-color: $navbar-dark-hover-color;
    }
  }
}

.tag {
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: default;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-left: 0.5em;
  padding: 0.25em 0.5em 0;
  vertical-align: 3px;
}

.navbar-toggler-icon {
  vertical-align: -.5em;
}

.navbar-toggler-label {
  font-size: 80%;
}
