<div class="card name-panel" *ngIf="record && name">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6 name-title">
        <div class="text-muted">{{record.typeLabel | translate}}</div>
        <h4 class="mb-0">
          <span class="strong cred-link name" *ngIf="!link">{{name.text}}</span>
          <a [routerLink]="record.link | localize" class="body-link cred-link name" *ngIf="link">{{name.text}}</a>
        </h4>
        <div class="badge badge-warning" *ngIf="name.inactive" translate>cred.inactive</div>
      </div>
      <div class="col-sm-6 name-meta text-right text-muted d-flex align-items-end justify-content-end">
        <label class="mb-0" translate>attribute.entity_name_effective-short</label>:
        <attribute-view [record]="record.attribute_map.entity_name_effective"></attribute-view>
      </div>
    </div>
  </div>
  <div class="card-body form-body">
    <div class="row form-group">
      <div class="col-sm-6">
        <label class="control-label" translate>attribute.entity_status</label>
        <div class="form-field">
          <attribute-view [record]="record.attribute_map.entity_status"></attribute-view>
          <span class="small text-muted claim-meta">
            <attribute-view [record]="record.attribute_map.entity_status_effective"></attribute-view>
          </span>
        </div>
        <label class="control-label" translate>attribute.registration_date</label>
        <div class="form-field">
          <attribute-view [record]="record.attribute_map.registration_date" format="date"></attribute-view>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="control-label" translate>attribute.entity_type</label>
        <div class="form-field">
          <attribute-view [record]="record.attribute_map.entity_type"></attribute-view>
        </div>
        <label class="control-label" translate>topic.source-id</label>
        <div class="form-field text-identifier">
          {{record.source_id}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" translate>cred.issuer</label>
        <div class="form-field">
          <a [routerLink]="['/issuer', issuer.id] | localize" class="body-link issuer-link">{{issuer.name}}</a>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="control-label" translate>cred.start-date</label>
        <div class="form-field">
          <span class="claim-info date">{{name.last_updated | dateFormat: 'effectiveDateTime'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
