<header>
  <div class="container">
    <div id="header-links" role="navigation">
      <ul class="inline nav navbar-nav">
        <li><a href="#" [lang]="altLang" (click)="switchLanguage($event)">{{altLangLabel}}</a></li>
      </ul>
    </div>
    <a href="http://www2.gov.bc.ca/" tabindex="-1">
      <img class="header-logo"
           tabindex="-1" [alt]="'app.header.logo-alt-text' | translate"
           [src]="'assets/bc-logo-' + currentLang + '.svg'">
    </a>
    <span class="title" role="banner" translate>app.header.title</span>
  </div>
</header>

<main class="container">

  <div class="row mrgn-tp-lg" *ngIf="!inited">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <ng-container *ngIf="inited">
    <div class="page-header" id="banner">
      <breadcrumb></breadcrumb>
    </div>

    <router-outlet></router-outlet>
  </ng-container>
</main>

<footer>
  <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" translate>app.footer.disclaimer</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" translate>app.footer.privacy</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" translate>app.footer.accessibility</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" translate>app.footer.copyright</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/contact-us"
               target="_blank" translate>app.footer.contact</a></li>
      </ul>
    </div>
  </nav>
</footer>
