$bootstrap-sass-asset-helper: true;
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

main {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .page-header {
    margin-bottom: 0;
  }
}
