<section id="dashboard">

  <h1 class="dashboard-title">Welcome to the Service</h1>

  <div class="row">
    <div class="col-sm-12">

      <div class="text-center">
        <ul class="stats">
          <li class="stat"><span class="numbers">8,122,632</span> organizations</li>
          <li class="stat"><span class="numbers">628,122,632</span> permits and licenses</li>
        </ul>
        <div class="large-search">
          <span class="fa fa-search"></span>
          <input type="text" name="query" size="40" placeholder="search">
        </div>
      </div>

      <div class="results mrgn-tp-lg">
        <label class="control-label">Search Results</label>
        <div class="row">
          <div class="col-sm-6">
            <a href="" [routerLink]="['/business']">Sprockets and Widgets Inc.</a>
          </div>
          <div class="col-sm-6">
            Vernon, BC
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="" [routerLink]="['/business']">Alternative Data Intl.</a>
          </div>
          <div class="col-sm-6">
            100 Mile House, BC
          </div>
        </div>
      </div>

      <div class="map mrgn-tp-lg">
        <label class="control-label">Search by Location</label>
        <div class="map-image"></div>
      </div>
    </div>
  </div>

</section>
