<footer>
  <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="http://www.ontario.ca/government/terms-use" target="_blank" translate>app.footer.disclaimer</a></li>
        <li><a href="http://www.ontario.ca/government/privacy-statement" target="_blank" translate>app.footer.privacy</a></li>
        <li><a href="http://www.ontario.ca/page/accessibility" target="_blank" translate>app.footer.accessibility</a></li>
        <li><a href="https://www.ontario.ca/government/copyright-information-c-queens-printer-ontario" target="_blank" translate>app.footer.copyright</a></li>
        <li><a href="https://www.ontario.ca/feedback/contact-us" target="_blank" translate>app.footer.contact</a></li>
      </ul>
    </div>
  </nav>
</footer>
