<footer>
  <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="http://www.ontario.ca/government/terms-use" target="_blank" [title]="'app.footer.link-title' | translate " translate>app.footer.disclaimer</a></li>
        <li><a href="http://www.ontario.ca/government/privacy-statement" [title]="'app.footer.link-title' | translate " target="_blank" translate>app.footer.privacy</a></li>
        <li><a href="http://www.ontario.ca/page/accessibility" [title]="'app.footer.link-title' | translate " target="_blank" translate>app.footer.accessibility</a></li>
        <li><a [title]="'app.footer.link-title' | translate " href="https://www.ontario.ca/government/copyright-information-c-queens-printer-ontario" target="_blank" translate>app.footer.copyright</a></li>
      </ul>
    </div>
  </nav>
</footer>
