.issuer-title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1em;
}
.title-back-link {
  display: block;
  font-size: 110%;
  text-decoration: none;
}

.issuer-info, .issuer-creds {
	font-size: 1.7rem;
}

.field-value + .field-value {
  margin-top: 0.7em;
}

.field-list {
  padding-left: 1em;
}

.issuer-logo img {
  max-height: 80px;
  width: auto;
}

@import "../../_active/issuer/form.component.custom";
