<footer class="footer">
  <section class="footer-detail">
    <div class="container">
      <div class="row my-4">
        <div class="col-md-6">
          <h4 class="h5">About this website</h4>
          <p>
          An initiative by the Ministry of Citizens’ Services, the OrgBook leverages
          blockchain technology, a first for a government in North America.
          </p>
        </div>
        <div class="col-md-6">
          <h4 class="h5">Connect with us</h4>
          <p>
          We welcome your feedback and questions! Contact us <a href="mailto:santa@example.ca">here</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container footer-links">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" tabindex="0" [routerLink]="'/' | localize" translate>home.breadcrumb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" translate>app.footer.disclaimer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" translate>app.footer.privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" translate>app.footer.accessibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" translate>app.footer.copyright</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
