<ng-container *ngIf="record; else ifBlank" [ngSwitch]="record.format">
  <div *ngSwitchCase="'category'">{{categoryValue | async}}</div>
  <div *ngSwitchCase="'date'" class="claim-info date">{{record.value | dateFormat: 'effectiveDate'}}</div>
  <div *ngSwitchCase="'datetime'" class="claim-info date">{{record.value | dateFormat: 'effectiveDateTime'}}</div>
  <div *ngSwitchDefault [class]="'claim-info '+record.typeClass" [innerHTML]="formatted"></div>
</ng-container>
<ng-template #ifBlank>
  {{cred.empty-attribute | translate}}
</ng-template>
