<section id="business">

    <a [routerLink]="'/' | localize" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> {{'search.return-link' | translate}}</a>

  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="business-panel">
      <div class="panel-heading" translate>org.top-panel-title</div>

      <div class="form-horizontal">
          <h1 class="business-title">
              <div ng-if="record.legalName">{{record.legalName}}</div>
              <div ng-if="record.dbaName">{{record.dbaName}}</div>
          </h1>

      
            <div class="form-group">
              <label class="col-sm-3 control-label" translate>org.type</label>
              <div class="form-field">
                  <div ng-switch on="record.typeName">
                    <div ng-switch-when="CO" translate>
                        org.corporation-type
                    </div>
                  <!-- <div ng-switch-default>
                      {{record.typeName}}
                  </div>-->
                </div>
              </div>
            </div>

            <div class="form-group">
                  <label class="col-sm-3 control-label" translate>org.org-status</label>
                  <div class="form-field" translate>
                      TBD
                  </div>
            </div>

            <div class="form-group">
                  <label class="col-sm-3 control-label" translate>org.municipality</label>
                  <div class="form-field" *ngIf="locations.length" translate>
                      <div class="field-value">{{locations[0].municipality}}</div>
                  </div>
            </div>

            <div class="form-group">
                  <label class="col-sm-3 control-label" translate>org.jurisdiction</label>
                  <div class="form-field" *ngIf="locations.length" translate>
                      <div class="field-value">{{locations[0].province}}</div>
                  </div>
            </div>


            <div class="disclaimer" translate>
                <b translate>org.note</b>
                org.disclaimer
                <a href='' translate>org.click-here</a>
            </div>

      </div>
    </div>
  </div>

  <div class="row mrgn-tp-md mrgn-bttm-lg business-certs" *ngIf="loaded">
      <div class="col-sm-12">
        <label class="control-label"><span class="field-name" translate>org.certs-title</span> <span class="fa fa-question-circle text-muted"></span></label>
        <div class="certs-outer">
          <div *ngFor="let grp of certs" class="cert">
            <div class="panel cert-panel">
              <div class="cert-name panel-heading">
                <h3 class="panel-title"><div><a [routerLink]="['cert', grp.top.id] | localize">{{grp.top.typeName}}</a></div></h3>
              </div>
              <div class="panel-body cert-main">
                <div class="cert-info">
                  <div class="issuer">{{grp.top.issuer.name}}</div>
                  <div class="year">{{grp.top.effectiveDate}}</div>
                  <div class="others text-muted" *ngIf="grp.top.inactiveReason && grp.top.inactiveReason.id">
                    <strong class="text-danger">{{grp.top.inactiveReason.shortReason}}</strong>
                  </div>
                  <div class="others text-muted" *ngIf="grp.others.length">
                    <em>And {{grp.others.length}} related</em>
                  </div>
                </div>
                <div class="cert-image">
                    <a [routerLink]="['cert', grp.top.id] | localize">
                      <img src="assets/cert.svg" alt="">
                    </a>
                  </div>
              </div>



            </div>
          </div>
        </div>
        <div *ngIf="!certs.length">
          <em class="text-muted" translate>general.none</em>
        </div>
      </div>
    </div>

</section>
