// replace this file in your theme to override standard styles
.search-outer {
    border: none;
  }

.search-inner {
    background:none;
  }

.beta {
  background: #7b953d;
  font-size: 1.5rem;
  font-weight: 400;
  vertical-align: middle;
  margin-left: 10px;
  color: #fefefe;
  padding: .33333rem .5rem;
  border-radius: 3px;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
}

.beaker {
  vertical-align: top;
}