<ng-container *ngIf="(filters$ | async) as filters">
  <ng-container *ngFor="let filter of filters">
    <div class="facet mb-3" *ngIf="filter.options?.length">
      <label class="control-label mb-1">{{filter.label | translate}}</label>
      <ul class="list-group filter-group">
        <li *ngFor="let opt of filter.options" class="list-group-item filter-item" [ngClass]="{'list-group-item-primary': opt.active}">
          <div class="form-check">
            <input type="checkbox" tabindex="0" [id]="opt.id" class="form-check-input" [value]="opt.value" [checked]="opt.active" (change)="setFilter($event, filter.name, opt.value)">
            <label class="form-check-label" [for]="opt.id">{{opt.label || (opt.tlabel | translate)}}
              <span class="badge badge-primary badge-pill" *ngIf="opt.count">{{opt.count | shortNumber}}</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</ng-container>
