<section id="search">

  <div class="row mrgn-tp-lg" *ngIf="!inited">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <h1 class="search-title" translate *ngIf="inited">search.title</h1>

  <div class="row" *ngIf="inited">
    <div class="col-sm-12">

      <div class="search-head">
        <div class="search-wrap">
          <search-input #searchInput (queryChange)="updateQuery($event)" [loading]="searching"></search-input>
        </div>
        <div class="search-types">
          <a routerLink="../name" queryParamsHandling="preserve" class="search-type" [ngClass]="{active: filterType==='name'}">Names</a>
          <a routerLink="../location" queryParamsHandling="preserve" class="search-type" [ngClass]="{active: filterType==='location'}">Locations</a>
          <a routerLink="../issuer" queryParamsHandling="preserve" class="search-type" [ngClass]="{active: filterType==='issuer'}">Issuers</a>
          <a routerLink="../map" queryParamsHandling="preserve" class="search-type" [ngClass]="{active: filterType==='map'}">Map</a>
        </div>
      </div>

      <div class="alert alert-danger mrgn-tp-lg" *ngIf="error" translate>
        search.results-error
      </div>

      <div class="row results mrgn-tp-lg" *ngIf="results && !error">
        <!-- div class="col-sm-3 facets">
          <label class="control-label">Refine search</label>
          <div class="facet">
            <label class="control-label">Status</label>
            <ul>
              <li><strong>Current</strong></li>
              <li><a href="#">Historical</a></li>
            </ul>
          </div>
          <div class="facet">
            <label class="control-label">Issuers</label>
            <ul>
              <li><a href="#">BC Registries</a></li>
            </ul>
          </div>
          <div class="facet">
            <label class="control-label">Credential Types</label>
            <ul>
              <li><a href="#">Incorporation</a></li>
              <li><a href="#">Doing Business As</a></li>
            </ul>
          </div>
          <div class="facet">
            <label class="control-label">Year</label>
            <ul>
              <li><a href="#">2018</a></li>
            </ul>
          </div>
        </div -->

        <div class="col-sm-10 col-sm-offset-1 rows">
          <label class="control-label" translate>search.results-title</label>
          <ng-container *ngIf="topics.length">
            <topic-list [records]="topics"></topic-list>
            <search-nav [info]="results && results.info"></search-nav>
          </ng-container>
          <div class="alert alert-info" *ngIf="!topics.length" translate>
            search.no-results
          </div>
        </div>
      </div>

      <div class="map mrgn-tp-lg hidden">
        <label class="control-label">Search by Location</label>
        <div class="map-image"></div>
      </div>
    </div>
  </div>

</section>
