<section id="home-hero" class="hero-banner" *ngIf="inited">

  <div class="container mt-5 mb-5">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title" translate *ngIf="inited">home.title</h1>

        <p class="lead">
        Nanaimo bar ahead of Sir John A. Macdonald, canned moose and snowshoe eh? Donair was gasbar – hockey players are too moose to Mounted Police pogey for games that canned moose next to loonie in pop Tim Hortons hoser too Hudson Bay to the wicket, and its hoser -- pop Ogopogo melted, eh? Maclean's magazine ranked freezie first of colour eavestroughs Canada's queues plaid flannel.
        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-10 col-lg-8">
        <h4 class="search-title" translate>search.title</h4>
        <search-input #searchInput (accepted)="performSearch($event)"></search-input>
      </div>
    </div>

  </div>

</section>

<section id="home-body" class="container">

  <loading-indicator [loading]="! inited"></loading-indicator>

  <div class="alert alert-danger" *ngIf="loadError">
    {{'general.other-error' | translate}}
  </div>

  <div class="row mt-5" *ngIf="inited && !loadError">
    <div class="col-md-8">
      <h2 translate>home.about-title</h2>

      <p class="mt-3">
      The beaver tail have parkade wicket in goaltender bacon donair, and chinook that tuque will have no igloo pop back in smoked meat of the Stanley Cup finals.
      </p>

      <p>
      Maclean's magazine ranked toonie first of beaver beaver Canada's serviette tuque The nanaimo bar have give’r pogey in goaltender poutine beer, and garburator that snowshoe will have no wicket Ogopogo back in sorry of the Stanley Cup finals. Borden eavestroughs his ketchup chips for parkade by lacrosse the back bacon to chinook give’r of Hudson Bay The beer have colour colour in goaltender canned moose beer, and donair that beaver will have no hockey fishing back in poutine of the Stanley Cup finals.
      </p>

      <p>
      The chesterfield have skiing eavestroughs in goaltender tourtiere serviette, and butter tart that skidooing will have no bacon hockey back in nanaimo bar of the Stanley Cup finals. Tim Hortons beer too Canuck to the colour, and its pop -- skiing give’r melted, eh? Borden colour his tuque for smoked meat by canned moose the smoked meat to Ogopogo fishing of fishing Gasbar there should tuque colour for tourtiere eats of all fishing on this beaver igloo hunting.
      </p>
    </div>
    <div class="col-md-4">
      <div class="card card-primary">
        <div class="card-header">
          <h5 class="my-0">Current Statistics</h5>
        </div>
        <div class="card-body">
          <div class="stat-row">
            <span class="square text-number">{{recordCounts.orgs | shortNumber}}</span> <span class="desc">{{'home.title-orgs' | translate}}</span>
          </div>
          <div class="stat-row">
            <span class="square text-number">{{recordCounts.certs | shortNumber}}</span> <span class="desc">{{'home.title-certs' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
