.cred-row {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  .cred-link {
      margin-left: 0em;
      &::before {
        padding-right: 0em;
      }
      &.location {
        content: "";
      }
      &.name::before {
        content: "";
      }
  }
  .cred-info{
    margin-left: 0em;
    padding-left: 0px;
  }
  .cred-address {
    float: right;
  }
}
.panel-title {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  font-weight: bold;
}

.name-panel {
  border: 1px solid #ccc;
  max-height: inherit;
  > .panel-heading {
    background-color:#595959;
    color: white;
    text-align: center;
    display: block;
    > .issuer-link {
      color: white;
    }
  }

}

.claim-info {
  float: right;
  &.location::before {
    content: "";
  }
}
.disclaimer {
  margin-top: 25px;
  font-size: 12px;
}

.disclaimer-cred{
  padding: 15px;
}
.cred {
  max-width: 30%;
}

.cert-image {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 25%;
  flex: 0 0 10%;
  float: right;
  padding-right: 15px;
}

.btn-verify{
  background-color: #4d4d4d;;
  color: #f5f5f5;
  font-size: 1.7rem;
  line-height: 1.5;
  padding: .5rem 1.3rem .4rem;
  vertical-align: baseline;
  margin-top: 15px;
}

.header-link {
  color: white;
}

.panel-success > .panel-body {
  color: #3c763d;
}

.form-group {
  margin-bottom: 0px;
}
