.cred-link {
    &::before {
      padding-right: 0.3em;
    }
}

.panel-title {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  font-weight: bold;
}

.disclaimer {
  margin-left: 25px;
  margin-top: 25px;
  padding: 5px;
}