<section #credForm id="cred-form" class="no-verify" *ngIf="(result$ | async) as result">
  <loading-indicator [loading]="result.loading"></loading-indicator>
  <error-message [error]="result.error"></error-message>

  <div class="row" *ngIf="result.data as record">
    <div class="col-sm-12">
        <a [routerLink]="'../../' | localize" class="title-back-link mrgn-bttm-md">
          <span class="fa fa-arrow-left"></span> {{'topic.return-link' | translate}}</a>

          <div class="panel name-panel">
              <div class="panel-heading" translate >
                  cred.business_registration
              </div>
              <h3 class="panel-title"> <strong>{{record.names[0].text}}</strong></h3>

            <div class="panel-body form-body">

                <div class="row form-group" *ngIf="record.revoked">
                  <div class="col-sm-12">
                    <div class="alert alert-danger">
                      <h3 class="mrgn-tp-0" translate>cred.expired</h3>
                      <p translate>cred.expired-message</p>
                    </div>
                  </div>
                </div>

                <div class="row form-group" *ngIf="record.issuer">
                    <label class="col-sm-3 control-label" translate>cred.issuer</label>
                    <div class="form-field">
                        <a class="body-link issuer-link" [routerLink]="['/issuer', record.issuer.id] | localize">{{record.issuer.name}}</a>
                    </div>
                    <br/>
                </div>

                <div class="row form-group">
                    <label class="col-sm-3 control-label" translate>cred.type</label>
                    <div  *ngFor="let category of record.categories">
                        <div  *ngIf="category.type === 'topic_type'">
                            <div *ngIf="category.value" >
                                {{('business_type.' + category.value) | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-3 control-label" translate>cred.corp-num</label>
                    <div class="form-field">
                      {{record.topic.source_id}}
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-3 control-label" translate>cred.start-date</label>
                    <div  *ngFor="let category of record.categories">
                        <div  *ngIf="category.type === 'topic_registration_date'">
                            <div *ngIf="category.value" >
                                {{category.value}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-3 control-label" translate>cred.status</label>
                    <div  *ngFor="let category of record.categories">
                        <div  *ngIf="category.type === 'topic_status'">
                            <div *ngIf="category.value" >
                                {{('business_status.' + category.value) | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-sm-3 control-label" translate>cred.effective-date</label>
                    <div  *ngFor="let category of record.categories">
                        <div  *ngIf="category.type === 'topic_status_effective_date'">
                                <div *ngIf="category.value" >
                                    {{category.value}}
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group" *ngIf="record.haveAddresses">
                    <label class="col-sm-3 control-label" translate>cred.jurisdiction</label>
                    <div class="form-field">
                        {{record.address[0].province}}
                    </div>
                </div>
                <div class="row form-group">
                        <div class="disclaimer-cred" translate>
                              <b translate>cred.note</b>
                              cred.disclaimer
                              <a href="https://www.ontario.ca/page/public-record-search" class="disclaimer-link"
                              target="_blank"
                              translate>topic.click-here</a>
                          </div>
                </div>

              <div class="cred-verify" *ngIf="! record.revoked">
                <ng-container *ngIf="(verify$ | async) as verify">
                  <div class="row form-group">
                    <div class="col-sm-12">
                        <button type="button" [class]="'btn btn-primary btn-verify' + (verify.loading ? ' loading' : '')" (click)="verifyCred($event)">
                          <span class="fa fa-accept"></span> {{'cred.verify-button-label' | translate}}</button>
                      </div>
                  </div>
                  <div class="row form-group mrgn-tp-md">
                    <div class="col-sm-12" *ngIf="verify.loading">
                      <section class="alert alert-info">
                        <p translate>cred.verifying-record</p>
                      </section>
                    </div>
                    <error-message [error]="verify.error"></error-message>
                    <div class="col-sm-12" *ngIf="verify.data as verifyResult">
                      <div [class]="'verify-result panel panel-' + (verifyResult.success ? 'success' : 'warning')">
                        <div class="panel-heading">
                          {{'cred.verify-status' | translate}}
                        </div>
                        <div class="panel-body">
                            <div *ngIf="verifyResult && verifyResult.success"> 
                                {{ 'cred.success' | translate }}
                            </div>
                            <div  *ngIf="verifyResult && !verifyResult.success"> 
                                {{'cred.error' | translate }}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
        </div>
  </div>
</div>


</section>
