<div class="creds-list" *ngIf="format !='search'">
<div *ngFor="let cred of records">
    <div class="cred" *ngIf="1||cred.credential_type.description.indexOf('Registration') !== -1">
        <div class="panel name-panel" >
            <div class="panel-heading" >
                <a class="header-link" [routerLink]="['/issuer', cred.issuer.id] | localize">{{cred.issuer.name}} </a>

            </div>

            <div class="panel-body form-body">
                <div class="row form-group">
                            <label class="col-sm-11 control-label">
                                    <a class="body-link" [routerLink]="cred.topic.extLink('cred', cred.id) | localize" translate>cred.business_registration</a>
                            </label>
                            <div class="form-field cert-image">
                                    <img alt="" src="assets/cert.svg">
                            </div>
                 </div>
           </div>

        </div>
    </div>
</div>
</div>
<div class="creds-list creds-search" *ngIf="format==='search'">
    <div class="row cred-row" *ngFor="let cred of records">
            <ng-container *ngIf="cred.names.length > 0"> <!-- temp issue with search returning blank topics -->
                <div class="col-sm-15">
                  <!-- TODO: Create mapping for type: human_readable. Hard coded? Issuer-registered? -->
                  <a [routerLink]="cred.topic.link | localize"
                    class="body-link cred-link name">{{cred.names[0].text}}</a>
                    <div class="cred-address">
                        <small *ngIf="cred.addresses.length > 0">
                            <address-view [record]="cred.addresses[0]"></address-view>
                        </small>
                      </div>
                  </div>
                <div class="col-sm-15">
                  <div class="col-sm-5 cred-info">
                    <label *ngIf="cred.categories.length > 0">
                      <div  *ngFor="let category of cred.categories">
                        <div  *ngIf="category.type === 'topic_type'">
                            <div *ngIf="category.value" >
                            {{('business_type.' + category.value) | translate}}
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>
                 
                </div>
              </ng-container>

    </div>
</div>
