<div *ngFor="let cred of records">
    <div class="cred">
      <div class="panel name-panel" >
          <div class="panel-heading" >
              <a class="body-link issuer-link" [routerLink]="['/issuer', cred.issuer.id] | localize">{{cred.issuer.name}}</a>
           </div>

        <div class="panel-body form-body">

            <div class="row form-group">
                  <div class="col-sm-5 control-label">
                      <a class="body-link cred-link" [routerLink]="['/topic', topicId, 'cred', cred.id] | localize">{{cred.credential_type.description}}</a>
                      <br/>
                    {{cred.start_date | date }}
                </div>
                <div class="form field cert-image">
                      <img alt="" src="assets/cert.svg">
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
