<div class="panel name-panel" *ngIf="record && name">
    <h3 class="panel-title" tabIndex="-1"> <strong>{{name.text }}</strong></h3>

   
  <div class="panel-body form-body">
        <div class="row form-group" *ngIf="record.addresses.length > 0">
                <label class="col-sm-3 control-label" translate>cred.municipality</label>
                <div class="form-field">
                   {{record.addresses[0].city | titlecase }}
                </div>
        </div>
       <div class="row form-group">
          <label class="col-sm-3 control-label" translate>cred.type</label>
          <div class="form-field">
              <div *ngIf="record.attribute_map['entity_type'] as topic_type">
                  {{('business_type.' + topic_type.value) | translate}}
              </div>
          </div>
      </div>

      <div class="row form-group">
            <label class="col-sm-3 control-label" translate>cred.status</label>
            <div class="form-field">
                <div *ngIf="record.attribute_map['entity_status'] as topic_status">
                    {{('business_status.' + topic_status.value) | translate}}
                </div>
            </div>
      </div>

      <div class="disclaimer" translate>
          <b translate>topic.note</b>
          topic.disclaimer
          <a [title]="'app.footer.link-title' | translate " class="disclaimer-link" href="https://www.ontario.ca/page/public-record-search" target="_blank"
          translate>topic.click-here</a>
      </div>


  </div>


</div>
