<div class="row name-row" *ngFor="let topic of records">
  <div class="col-sm-7">
    <a [routerLink]="['/topic', topic.id] | localize"
      class="body-link  name">{{topic.names[0].text}}</a>
    <br>
   
    <label *ngIf="topic.categories.length > 0">
       <div  *ngFor="let category of topic.categories">
          <div  *ngIf="category.type === 'topic_type'">
             <div *ngIf="category.value" >
              {{('business_type.' + category.value) | translate}}
            </div>
          </div>
        </div>
    </label>
  </div>
 <div class="col-sm-5">
      <small *ngIf="topic.addresses.length > 0">
          <address [record]="topic.addresses[0]"></address>
      </small>
    </div>
</div>