.panel-title {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-weight: bold;
  }
  
  .name-panel {
    border: 1px solid #ccc;
    > .panel-heading {
      background-color:#595959;
      color: white;
      text-align: center;
      display: block;
    }
  
  }