<section id="issuer" *ngIf="(result$ | async) as result">
  <loading-indicator [loading]="result.loading"></loading-indicator>
  <error-message [error]="result.error"></error-message>

  <div class="row" *ngIf="result.data as record">
    <div class="col-sm-12">
      <div class="panel name-panel" >
        <div class="panel-heading" translate>issuer.breadcrumb</div>
        <h3 class="panel-title"> <strong>{{record.abbreviation | translate}}</strong></h3>

        <div class="panel-body form-body">

            <div class="row form-group">
                <label class="col-sm-3 control-label" translate>issuer.website</label>
                <div class="form-field">
                    <a [title]="'app.footer.link-title' | translate "  target="_blank" class="body-link" [href]="[record.url]" rel="external">
                        {{record.url}}</a>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label" translate>issuer.email</label>
                <div class="form-field">
                    {{record.email}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


</section>
