
.stats {
    .numbers {
      color: #006b3f;
    }
  }


  $input-border: #4d4d4d;
  
.large-search {
  border: 2px solid $input-border;
  .fa {
    color: darken($input-border, 10%);
  }
}


.search-by-location {
  visibility:hidden;
  display: none;
}

.btn-radio {
  background-color: #006b3f;
  color: whitesmoke; 
}

input[value=name]
{
  -moz-appearance:button;
  -webkit-appearance:button;
  background-color: #006b3f;
}

