
.stats {
  color: #4d4d4d;
    .numbers {
      color: #006b3f;
    }
  }


  $input-border: #4d4d4d;
  
.large-search {
  border: 2px solid $input-border;
  .fa {
    color: darken($input-border, 10%);
  }
  &.active {
    border-color: $input-border;
    box-shadow: 0 2px 4px 2px rgba(0, 10, 30, 0.1);
    .fa {
      color: $input-border;
    }
  }
}


.search-by-location {
  visibility:hidden;
  display: none;
}

.btn-radio {
  background-color: #006b3f;
  color: whitesmoke; 
}

input[value=name]
{
  -moz-appearance:button;
  -webkit-appearance:button;
  background-color: #006b3f;
}

