.cred-title {
  font-size: 3rem;
  margin-top: 0;
}
.title-back-link {
  display: block;
  font-size: 110%;
  text-decoration: none;
}

.field-value + .field-value {
  margin-top: 0.7em;
}

.field-list {
  padding-left: 1em;
}
