<section id="cred-form">
  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="col-md-7 col-sm-6">
      <h1 class="cred-title">{{record.credential_type.description}}</h1>

      <a [routerLink]="'../../' | localize" class="title-back-link mrgn-bttm-md">
        <span class="fa fa-arrow-left"></span> {{'topic.return-link' | translate}}</a>

      <div class="cred-info">
        <div class="row form-group" *ngIf="names.length">
          <div class="col-sm-12">
            <label class="control-label" translate>cred.names</label>
            <div class="form-field">
              <ul class="claim-list">
                <li *ngFor="let name of names">
                  <label translate>{{name.type}}</label>
                  <span class="claim-info name">{{name.text}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-group" *ngIf="contacts.length">
          <div class="col-sm-12">
            <label class="control-label" translate>cred.contact</label>
            <div class="form-field">
              <ul class="claim-list">
                <li *ngFor="let contact of contacts">
                  <label translate>{{contact.type}}</label>
                  <span class="claim-info {{contact.typeClass}}">{{contact.text}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-group" *ngIf="people.length">
          <div class="col-sm-12">
            <label class="control-label" translate>cred.people</label>
            <div class="form-field">
              <ul class="claim-list">
                <li *ngFor="let person of people">
                  <label translate>{{person.type}}</label>
                  <span class="claim-info person">{{person.full_name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-group" *ngIf="addresses.length">
          <div class="col-sm-12">
            <label class="control-label" translate>cred.addresses</label>
            <div class="form-field">
              <ul class="claim-list">
                <li *ngFor="let address of addresses">
                  <label translate>{{address.type}}</label>
                  <address-view [record]="address"></address-view>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-5 col-sm-6">
      <div class="meta-info well mrgn-tp-lg">
        <h3 class="well-title">Credential Info</h3>
        <div class="meta-body form-body">
          <div class="row form-group" *ngIf="issuer">
            <div class="col-sm-12">
              <label class="control-label" translate>cred.issuer</label>
              <div class="form-field">
                <a class="body-link issuer-link" [routerLink]="['/issuer', issuer.id] | localize">{{issuer.name}}</a>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label class="control-label" translate>cred.start-date</label>
              <div class="form-field">
                <span class="claim-info date" *ngIf="record.start_date">{{record.start_date}}</span>
              </div>
            </div>
          </div>
          <div class="row form-group mrgn-tp-lg">
            <div class="col-sm-6">
              <button type="button" [class]="'btn btn-primary btn-verify' + (verifying ? ' loading' : '')" (click)="verifyCred($event)">
                <span class="fa fa-accept"></span> {{'cred.verify-button-label' | translate}}</button>
            </div>
            <div class="col-sm-6 mrgn-tp-sm">
              <a class="body-link verify-help" href="#">
                <span class="fa fa-question-circle"></span>
                <span translate>cred.whats-this-link</span>
              </a>
            </div>
          </div>
          <div class="row cred-verify" *ngIf="verifyResult || verifying">
            <div class="col-sm-12" *ngIf="verifying">
              <section class="alert alert-info">
                <p translate>cred.requesting-proof</p>
              </section>
            </div>
            <div class="col-sm-12" *ngIf="! verifying">
              <div [class]="'verify-result panel panel-' + (verifyStatus == 'success' ? 'success' : 'warning')" *ngIf="verifyStatus && verifyStatus !== 'error'">
                <div class="panel-heading">
                  {{'cred.verify-status' | translate}} {{verifyStatus}}
                </div>
                <div class="panel-body">
                  <code>{{verifyResult}}</code>
                </div>
              </div>
              <section class="alert alert-danger" *ngIf="verifyStatus === 'error'">
                <p>{{verifyResult}}</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
