<div class="panel name-panel" *ngIf="record && name">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{record.typeLabel | translate}}:
      <span class="strong cred-link name" *ngIf="!link">{{name.text}}</span>
      <a [routerLink]="['/topic', record.id] | localize" class="body-link cred-link name" *ngIf="link">{{name.text}}</a>
    </h3>
  </div>
  <div class="panel-body form-body">
    <div class="row form-group">
      <div class="col-sm-7" *ngIf="issuer">
        <label class="control-label" translate>cred.issuer</label>
        <div class="form-field">
          <a [routerLink]="['/issuer', issuer.id] | localize" class="body-link issuer-link">{{issuer.name}}</a>
        </div>
      </div>
      <div class="col-sm-5">
        <label class="control-label" translate>cred.start-date</label>
        <div class="form-field">
          <span class="claim-info date">{{name.last_updated | dateFormat: 'effectiveDate'}}</span>
        </div>
      </div>
    </div>
    <div class="row form-group" *ngIf="contacts.length || contacts.length">
      <div class="col-sm-7" *ngIf="contacts.length">
        <label class="control-label" translate>cred.contact</label>
        <div class="form-field">
          <ul class="claim-list">
            <li *ngFor="let contact of contacts">
              <label translate>{{contact.type}}</label>
              <span class="claim-info {{contact.typeClass}}">{{contact.text}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5" *ngIf="addresses.length">
        <div class="form-field address-list" *ngFor="let address of addresses">
          <label class="control-label" translate>{{address.addressType}}</label>
          <address-view [record]="address"></address-view>
        </div>
      </div>
    </div>
    <div class="row form-group" *ngIf="people.length">
      <div class="col-sm-7">
        <label class="control-label" translate>cred.people</label>
        <div class="form-field">
          <ul class="claim-list">
            <li *ngFor="let person of people">
              <label translate>{{person.type}}</label>
              <span class="claim-info person">{{person.full_name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
