<div class="row name-row" *ngFor="let topic of records">
  {{type.id}}
  <!-- <div class="col-sm-7">
    <label>{{topic.type}}:</label>
    <a [routerLink]="['/subject', topic.id] | localize"
      class="body-link cred-link name">{{topic.names[0].text}}</a>
    <br>
    <small>
      <label>
        <span translate>cred.issuer</span>:</label>
      <a [routerLink]="['/issuer', name.issuer.id] | localize" class="body-link issuer-link">{{name.issuer.name}}</a>
    </small>
    <br>
    <small>
      <label>
        <span translate>cred.last-updated</span>:</label>
      <span class="claim-info date">{{name.startDate}}</span>
    </small>
  </div>
  <div class="col-sm-5">
    <small *ngIf="name.address">
      <label class="control-label" translate>{{name.address.addressType}}</label>
      <address [record]="name.address"></address>
    </small>
  </div> -->
</div>