<section id="topic-form" class="page-min-height" *ngIf="(result$ | async) as result">
  <loading-indicator [loading]="result.loading"></loading-indicator>
  <error-message [error]="result.error"></error-message>

  <div class="row mb-3" *ngIf="result.data as topic">
    <div class="col-sm-12">
      <h1 class="topic-name">{{title}}</h1>

      <a [routerLink]="'/search' | localize" class="title-back-link mb-3"><span class="fa fa-arrow-left"></span> {{'search.return-link' | translate}}</a>

      <div class="row">
        <div class="col-sm-12 name-info">
          <name-panel [record]="topic"></name-panel>
        </div>
      </div>

    </div>

    <!-- div class="col-md-4 col-sm-5">
      <div class="panel timeline-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Timeline</h3>
          <a class="util-link" href="#"><span class="fa fa-expand"></span> Expand</a>
        </div>
        <div class="panel-body">
          <ul class="timeline-list">
            <li>
              <a href="#" class="body-link issuer-link">Fraser Valley Health Authority</a> issued <a href="#" class="cert-link">Health Inspection</a>
              <time>10 days ago</time>
            </li>
            <li>
              Added <em>Director</em> <a href="#" class="body-link cert-link person">Bob Terwilliger</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Business Phone</em> contact <a href="#" class="body-link cert-link phone">+1-800-411-4111</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Skype Address</em> contact <a href="#" class="body-link cert-link contact">iverson.example</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Email Address</em> contact <a href="#" class="body-link cert-link email">sales@iverson.example.ca</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Website Address</em> contact <a href="#" class="body-link cert-link url">https://iverson.example.ca</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Registered Office</em> location <a href="#" class="body-link cert-link location">123 Fake St, Campbell River BC, Canada V4H 1B1</a>
              <time>3 months ago</time>
            </li>
            <li>
              <a href="#" class="body-link issuer-link">BC Registries</a> issued <em>Doing Business As</em> <a href="#" class="body-link cert-link name">Iverson Kitchen</a>
              <time>3 months ago</time>
            </li>
            <li>
              <a href="#" class="body-link issuer-link">BC Registries</a> issued <em>Incorporation</em> <a href="#" class="body-link cert-link name">246801234 British Columbia Inc.</a>
              <time>4 months ago</time>
            </li>
          </ul>
        </div>
      </div>
    </div -->

  </div>

  <related-topics [records]="topic.related_from" [topicId]="topic.id" defaultFormat="compact" *ngIf="result.loaded" [related-from]="true" [title]="'topic.related-to' | translate"></related-topics>

  <related-topics [records]="topic.related_to" [topicId]="topic.id" defaultFormat="compact" *ngIf="result.loaded" [title]="'name.doing-business-as' | translate"></related-topics>

  <div class="row creds-outer" *ngIf="result.loaded">
    <div class="col-sm-12">
      <div class="card creds-panel">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-auto">
              <h4 class="my-0" translate>cred.topic-title</h4>
            </div>
            <div class="col-lg form-inline justify-content-end">
              <div class="btn-group filter-entry">
                <label [class]="'btn btn-secondary' + (filterActive === 'true' ? ' active' : '')">
                  <input type="radio" name="search_active" value="true" checked class="d-none" [(ngModel)]="filterActive"><span class="fa fa-bell left"></span> <span translate>general.period-current</span>
                </label>
                <label [class]="'btn btn-secondary' + (filterActive === 'false' ? ' active' : '')">
                  <input type="radio" name="search_active" value="false" class="d-none" [(ngModel)]="filterActive"><span class="fa fa-history left"></span> <span translate>general.period-historical</span>
                </label>
              </div>
              <label class="btn btn-secondary filter-entry">
                <input type="checkbox" name="show_filters" value="1" class="d-none" [(ngModel)]="showFilters">
                <span class="fa fa-filter left"></span>
                <span translate *ngIf="showFilters">general.hide-filters</span>
                <span translate *ngIf="!showFilters">general.show-filters</span>
                <span [class]="'fa right ' + (showFilters ? 'fa-angle-double-up' : 'fa-angle-double-down')"></span>
              </label>
              <div class="btn-group filter-entry">
                <label [class]="'btn btn-secondary' + (credsFormat === 'rows' ? ' active' : '')">
                  <input type="radio" name="display_format" value="rows" checked class="d-none" [(ngModel)]="credsFormat"><span class="fa fa-list"></span> <span class="d-none" translate>general.display-list</span>
                </label>
                <label [class]="'btn btn-secondary' + (credsFormat === 'cards' ? ' active' : '')">
                  <input type="radio" name="display_format" value="cards" class="d-none" [(ngModel)]="credsFormat"><span class="fa fa-th-large"></span> <span class="d-none" translate>general.display-cards</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header filters" *ngIf="showFilters">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label">Credential Type</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">Issuer</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">Before Date</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">After Date</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
          </div>
        </div>
        <div class="card-header columns">
          <div class="row">
            <div class="col-sm-4">
              <a href="#">Credential Type</a> / <a href="#"><strong>Start Date</strong> <span class="fa fa-arrow-down"></span></a>
            </div>
            <div class="col-sm-4">
              <a href="#">Issuer</a>
            </div>
            <div class="col-sm-4">
              Details
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="(creds$ | async) as creds">
          <loading-indicator [loading]="creds.loading"></loading-indicator>
          <error-message [error]="creds.error"></error-message>
          <cred-list [records]="creds.data" [format]="credsFormat"></cred-list>
        </div>
      </div>
    </div>
  </div>

</section>
