<ng-container *ngIf="format === 'rows'">
<div class="row name-row" *ngFor="let topic of records">
<ng-container *ngIf="topic.names.length > 0"> <!-- temp issue with search returning blank topics -->
  <div class="col-sm-7">
    <!-- TODO: Create mapping for type: human_readable. Hard coded? Issuer-registered? -->
    <label>{{typeLabel(topic.type) | translate}}:</label>
    <a [routerLink]="['/topic', topic.id] | localize"
      class="body-link cred-link name">{{topic.names[0].text}}</a>
    <br>
    <small>
      <label>
        <span translate>cred.issuer</span>:</label>
      <a [routerLink]="['/issuer', topic.names[0].issuer.id] | localize" class="body-link issuer-link">{{topic.names[0].issuer.name}}</a>
    </small>
    <br>
    <small>
      <label>
        <span translate>cred.last-updated</span>:</label>
      <span class="claim-info date">{{topic.names[0].last_updated | dateFormat: 'effectiveDate'}}</span>
    </small>
  </div>
  <div class="col-sm-5">
    <small *ngIf="topic.addresses.length > 0">
      <!-- TODO: Add notion of 'type' to address model? -->
      <!-- <label class="control-label" translate>{{topic.addresses[0].type}}</label> -->
      <address-view [record]="topic.addresses[0]"></address-view>
    </small>
  </div>
</ng-container>
</div>
</ng-container>
<div class="topics-grid" *ngIf="format === 'cards'">
  <name-panel [record]="topic" *ngFor="let topic of records" :link="true"></name-panel>
</div>
<ng-container *ngIf="format === 'compact'">
<div class="row name-row" *ngFor="let topic of records">
<ng-container *ngIf="topic.names.length > 0"> <!-- temp issue with search returning blank topics -->
  <div class="col-sm-7">
    <!-- TODO: Create mapping for type: human_readable. Hard coded? Issuer-registered? -->
    <label>{{typeLabel(topic.type) | translate}}:</label>
    <a [routerLink]="['/topic', topic.id] | localize"
      class="body-link cred-link name">{{topic.names[0].text}}</a>
  </div>
  <div class="col-sm-5">
    <small>
      <label>
        <span translate>cred.last-updated</span>:</label>
      <span class="claim-info date">{{topic.names[0].last_updated | dateFormat: 'effectiveDate'}}</span>
    </small>
  </div>
</ng-container>
</div>
</ng-container>
