<section id="topic-form" *ngIf="(result$ | async) as result">
  <loading-indicator [loading]="result.loading"></loading-indicator>
  <error-message [error]="result.error"></error-message>

  <div class="row" *ngIf="result.data as topic">
    <div class="col-sm-12">
      <a [title]="'search.return-link' | translate" [routerLink]="'/home' | localize" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> {{'search.return-link' | translate}}</a>

      <div class="row">
        <div class="col-sm-12 name-info">
          <!-- <name-panel *ngFor="let name of names" [record]="name"></name-panel> -->
          <name-panel [record]="topic"></name-panel>
        </div>
      </div>

    </div>

  </div>

  <div class="row" *ngIf="result.loaded">
      <h4><strong class="section-title" translate>cred.breadcrumb</strong></h4>
    <div class="col-sm-12" *ngIf="(creds$ | async) as creds">
      <loading-indicator [loading]="creds.loading"></loading-indicator>
      <error-message [error]="creds.error"></error-message>
      <cred-list [records]="creds.data" [format]="credsFormat"></cred-list>
    </div>
  </div>

</section>
