<section id="issuer">
  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="col-md-8 col-sm-7">
      <h1 class="issuer-title">{{record.name}}</h1>

      <div class="row">
        <div class="col-md-12 issuer-info">
          <div class="row form-group" *ngIf="record.issuerOrgURL">
            <label class="col-sm-4 control-label">Issuer Website</label>
            <div class="col-sm-8 form-field">
              <a [href]="record.issuerOrgURL" rel="external">
                {{record.issuerOrgURL}}</a>
              <small><span class="fa fa-external-link"></span></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label">Effective Date</label>
            <div class="col-sm-8 form-field">
              {{record.effectiveDate}}
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label">Expiry Date</label>
            <div class="col-sm-8 form-field">
              {{record.endDate || '-'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- div class="row mrgn-tp-md mrgn-bttm-lg business-certs" *ngIf="loaded">
    <hr>
    <div class="col-sm-12">
      <label class="control-label"><span class="field-name">Permits and Licences</span> <span class="fa fa-question-circle text-muted"></span></label>
      <div class="certs-outer">
        <div *ngFor="let grp of certs" class="cert">
          <div class="panel panel-cert cert-panel">
            <div class="cert-name panel-heading">
              <h3 class="panel-title"><div><a [routerLink]="'/cert/' + grp.top.id">{{grp.top.typeName}}</a></div></h3>
            </div>
            <div class="panel-body cert-main">
              <div class="cert-info">
                <div class="issuer">{{grp.top.issuer.name}}</div>
                <div class="year">{{grp.top.effectiveDate}}</div>
                <div class="others text-muted" *ngIf="grp.others.length">
                  <em>And {{grp.others.length}} related</em>
                </div>
              </div>
              <div class="cert-image">
                <a [routerLink]="'/cert/' + grp.top.id">
                  <img src="/assets/cert.svg" [class]="'color-' + grp.top.color" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!certs.length">
        <em class="text-muted">None</em>
      </div>
    </div>
  </div -->
</section>
