<section id="business">
  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="col-md-8 col-sm-7">
      <h1 class="business-title">{{record.LegalName}}</h1>

      <a [routerLink]="'/'" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> Back to Search</a>

      <div class="row">
        <div class="col-md-6 business-info">
          <div class="form-group">
            <label class="control-label">Business Number</label>
            <div class="form-field">
              {{record.busId}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Mailing Address</label>
            <div class="form-field">
              {{record.primaryLocation.streetAddress}}<br>
              {{record.primaryLocation.municipality}}, {{record.primaryLocation.province}}&nbsp; {{record.primaryLocation.postalCode}}<br>
              Canada
            </div>
          </div>
        </div>
        <div class="col-md-6 business-info">
          <div class="form-group">
            <label class="control-label">Organization Type</label>
            <div class="form-field">
              {{record.typeName}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label"><span class="field-name">Supply Profile</span> <span class="fa fa-question-circle text-muted"></span></label>
            <div class="form-field">
              1298592&nbsp; Sprockets<br>
              2958295&nbsp; Widgets
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5 hidden-xs">
      <div class="business-badge">
        <img src="/assets/ribbon.svg" alt="Verified">
      </div>
    </div>
  </div>
  <div class="row mrgn-tp-md mrgn-bttm-lg business-certs" *ngIf="loaded">
    <div class="col-sm-12">
      <label class="control-label"><span class="field-name">Permits and Licences</span> <span class="fa fa-question-circle text-muted"></span></label>
      <div class="certs-outer">
        <a *ngFor="let cert of certs" class="cert" [routerLink]="'/cert/' + cert.id">
          <div class="cert-image">
            <img src="/assets/cert.svg" [class]="'color-' + cert.color" alt="">
          </div>
          <label>{{cert.type.theType}}</label>
        </a>
      </div>
    </div>
  </div>
</section>
