<section id="business">
  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="col-md-8 col-sm-7">
      <h1 class="business-title">{{record.legalName}}</h1>

      <a [routerLink]="'/'" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> Back to Search</a>

      <div class="row">
        <div class="col-md-6 business-info">
          <div class="form-group">
            <label class="control-label">Organization Identifier</label>
            <div class="form-field">
              {{record.orgId}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Organization Type</label>
            <div class="form-field">
              {{record.typeName}}
            </div>
          </div>
          <div class="form-group" *ngIf="dbas.length">
            <label class="control-label">Doing Business As <span class="fa fa-question-circle text-muted"></span></label>
            <div class="field-value"><ul class="field-list">
              <li *ngFor="let dba of dbas">{{dba}}</li>
            </ul></div>
          </div>
          <div class="form-group">
            <label class="control-label"><span class="field-name">Supply Profile</span> <span class="fa fa-question-circle text-muted"></span></label>
            <div class="form-field"><ul class="field-list">
              <li>1298592&nbsp; Sprockets</li>
              <li>2958295&nbsp; Widgets</li>
            </ul></div>
          </div>
        </div>
        <div class="col-md-6 business-info">
          <div class="form-group">
            <label class="control-label">Mailing Address</label>
            <div class="form-field">
              <div class="field-value" *ngFor="let loc of locations">
                <small class="text-muted">{{loc.typeName}}</small><br>
                <span *ngIf="loc.addressee != null">{{loc.addressee}}<br></span>
                {{loc.unitNumber && ('' + loc.unitNumber + '-')}}{{loc.streetAddress}}<br>
                {{loc.municipality}}, {{loc.province}}&nbsp; {{loc.postalCode}}<br>
                Canada
                <div class="map-link"><span class="fa fa-map-marker"></span> <a href="#" class="small">Show on map</a></div>
              </div>
              <div *ngIf="!locations">
                <em class="text-muted">None</em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5 hidden-xs">
      <div class="business-badge">
        <img src="/assets/ribbon.svg" alt="Verified">
      </div>
    </div>
  </div>

  <div class="row mrgn-tp-md mrgn-bttm-lg business-certs" *ngIf="loaded">
    <div class="col-sm-12">
      <label class="control-label"><span class="field-name">Permits and Licences</span> <span class="fa fa-question-circle text-muted"></span></label>
      <div class="certs-outer">
        <div *ngFor="let cert of certs" class="cert">
          <a class="cert-link" [routerLink]="'/cert/' + cert.top.id">
            <div class="cert-image">
              <img src="/assets/cert.svg" [class]="'color-' + cert.color" alt="">
            </div>
            <label>{{cert.typeName}}
              <div class="year text-muted">{{cert.top.effectiveDate}}</div>
            </label>
          </a>
          <div class="cert-others">
            <a *ngFor="let inst of cert.others" class="other-link" [routerLink]="'/cert/' + inst.id">
              <label>
                <div class="year text-muted">
                  {{inst.effectiveDate}}
                </div>
              </label>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
